<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   
   <div>Space Debris: <span>{{count("space debris", satellites)}}</span></div>
   <div>Communication: <span>{{count("communication", satellites)}}</span></div>
   <div>Probe: <span>{{count("probe", satellites)}}</span></div>
   <div>Positioning: <span>{{count("positioning", satellites)}}</span></div>
   <div>Space Station: <span>{{count("space station", satellites)}}</span></div>
   <div>Telescope: <span>{{count("telescope", satellites)}}</span></div>
</div>
